.button-container {
    width: 100%;
    position: relative;
  
    .tooltip {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      background: transparent;
      font-size: 1.8rem;
      color: #FFF;
  
      &:before,
      &:after {
        position: absolute;
        content: '';
        opacity: 0;
        transition: all 0.4s ease;
      }
  
      &:after {
        content: attr(data-tooltip);
        color: var(--primaryColor);
        background: #fff;
        border: 0.1rem solid var(--primaryColor);
        font-family: RobotoRegular;
        width: 16rem;
        height: 5rem;
        font-size: 1.4rem;
        font-weight: 400;
        top: -7.5rem;
        left: -2.5rem;
        padding: 1em;
        border-radius: 0.5rem;
        letter-spacing: 0.1rem;
        transform: translateY(2rem);
      }
  
      &:hover::before,
      &:hover::after {
        opacity: 1;
        transform: translateY(-0.2rem);
      }
    }
  
    .btn {
      width: fit-content;
      font-family: RobotoMedium;
      border: none;
      border-radius: 0.6rem;
      cursor: pointer;
      width: 100%;
      padding: 0.5em 1em;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &.primary-btn {
        color: white;
        background-color: var(--primaryColor);
  
        &:hover {
          background-color: #fff;
          color: var(--primaryColor);
          border: 0.1rem solid var(--primaryColor);
          box-shadow: 0rem 0.3rem 0.6rem var(--boxShadow);
        }
      }
  
      &.outline-primary-btn {
        border: 0.1rem solid var(--primaryColor);
        background: #FFFFFF;
        color: var(--primaryColor);
  
        &:hover {
          box-shadow: 0rem 0.3rem 0.6rem var(--boxShadow);
        }
      }
  
      &.secondary-btn {
        background-color: var(--secondaryBtnColor);
        color: #8F8F8F;
  
        &:hover {
          box-shadow: 0rem 0.3rem 0.6rem #00000029;
        }
      }
    }
  }
  
  .icon-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: #E8EEF2;
    border-radius: 0.6rem;
  
    i {
      font-size: 1.8rem;
    }
  
    &:hover {
      box-shadow: 0rem 0.3rem 0.6rem #00000029;
    }
  }
  