.button-container
{
    width: 100%;
    .btn
    {
        width: fit-content;
        padding: 0.5rem;
        font-family: RobotoMedium;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
    }
    
    
    .primary-btn
    {
        color: white;
        background-color: var(--primaryColor);
    }

    .secondary-btn
    {
        background-color: var(--secondaryBtnColor);
        color: black;
    }
}
