.button-container {
    width: 100%;
    position: relative;

    .tooltip {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: transparent;
        font-size: 18px;
        color: #FFF;
    }

    .tooltip:before,
    .tooltip:after {
        position: absolute;
        content: ‘’;
        opacity: 0;
        transition: all 0.4s ease;
    }

    .tooltip:after {
        content: attr(data-tooltip);
        color: var(--primaryColor);
        background: #fff;
        border: 1px solid var(--primaryColor);
        font-family: RobotoRegular;
        width: 160px;
        height: 50px;
        font-size: 14px;
        font-weight: 400;
        top: -75px;
        left: -25px;
        padding: 10px;
        border-radius: 5px;
        letter-spacing: 1px;
        transform: translateY(20px);
    }

    .tooltip:hover::before,
    .tooltip:hover::after {
        opacity: 1;
        transform: translateY(-2px);
    }

    .btn {
        width: fit-content;
        font-family: RobotoMedium;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        width: 100%;
        padding: 10px 20px;
    }


    .primary-btn {
        color: white;
        background-color: var(--primaryColor);
    }

    .primary-btn:hover {
        background-color: #fff;
        color: var(--primaryColor);
        border: 1px solid var(--primaryColor);
        box-shadow: 0px 3px 6px var(--boxShadow);
    }

    .outline-primary-btn {
        border: 1px solid var(--primaryColor);
        background: #FFFFFF;
        color: var(--primaryColor);
    }

    .outline-primary-btn:hover {
        box-shadow: 0px 3px 6px var(--boxShadow)
    }

    .secondary-btn {
        background-color: var(--secondaryBtnColor);
        color: #8F8F8F;
    }

    .secondary-btn:hover {
        box-shadow: 0px 3px 6px #00000029;
    }
}

.icon-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #E8EEF2;
    border-radius: 6px;

    i {
        font-size: 18px;
    }
}

.icon-button-container:hover {
    box-shadow: 0px 3px 6px #00000029;
}