.streak .streak-main-container {
  margin-left: calc(var(--navigationWidth) + var(--navigationAroundSpace));
  padding: 0 1rem;
}
.streak .streak-main-container .streak-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: calc(100vh - 72px);
}
.streak .streak-main-container .streak-details .streak-detail-card {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.streak .streak-main-container .streak-details .streak-detail-card .day-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.streak .streak-main-container .streak-details .streak-detail-card .day-info .day {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--lightColor);
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.streak .streak-main-container .streak-details .streak-detail-card .day-info .day::after {
  content: "";
  position: relative;
  display: block;
  height: 3.8rem;
  width: 5px;
  border-radius: 4px;
  top: 3.8rem;
  left: -18px;
  background-color: var(--lightColor);
}
.streak .streak-main-container .streak-details .streak-detail-card .streak-info {
  padding: 1rem;
}
.streak .streak-main-container .streak-details .streak-detail-card .streak-info p {
  font-size: 14px;
}
.streak .streak-main-container .streak-details .streak-detail-card .streak-info .status-block {
  width: fit-content;
  padding: 0.1rem 1.5rem;
  line-height: 1.3rem;
  border-radius: 4px;
  background: var(--superLight);
  margin-top: 0.5rem;
}
.streak .streak-main-container .streak-details .streak-detail-card .streak-info .status-block span {
  font-size: 14px;
}
