.streak {
    .streak-details-container {
        height: calc((100vh - (6rem + 5rem + 5rem + 3rem)));
        margin-top: 2em;
        overflow: auto;

        .left-container {
            width: 50%;
            height: calc((100vh - (6rem + 5rem + 5rem + 3rem)));
            border-radius: 2rem;
            background: #FFF7F5;
            flex: 1;
            margin-right: 3em;
            padding: 3em 6em 3em 3em;
            // overflow: auto;

            .day-represent {
                display: flex;
                position: relative;
                flex: 1;
                min-height: 90px;
                border-radius: 1.2rem;
                border: .1rem solid #71357C;
                box-shadow: 0px .3rem .6rem #00000029;
                padding: 1.8em 2em 1.8em 2.4em;

                .left-line {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 1rem;
                    border-top-left-radius: 1.2rem;
                    border-bottom-left-radius: 1.2rem;
                    background: #71357C;
                }

                .circle {
                    height: 2rem;
                    width: 2rem;
                    border: .1rem solid #707070;
                    border-radius: 50%;
                }

                .circle-icon {
                    font-size: 2rem;
                    color: #71357C;
                }

                .today-task {
                    .input-element {
                        border-bottom: .1rem solid #E8EEF2;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        background: transparent;
                    }

                    .input-element:hover {
                        box-shadow: none;
                    }

                    .okay-btn {
                        width: 6rem;
                    }
                }
            }
        }

        .right-container {
            flex: 1;
            width: 50%;

            .streak-detail-container {
                border-radius: 2rem;
                background: #FFFAEF;
                flex: 1;
                margin-bottom: 3em;
                padding: 3em;

                .date-container {
                    .icon-container {
                        width: 34px;
                        height: 34px;
                        border: .1rem solid var(--primaryColor);
                        border-radius: 50%;
                        margin-right: 0.5em;

                        i {
                            color: var(--primaryColor);
                        }
                    }
                }
            }

            .performance-container {
                border-radius: 2rem;
                background: #FBFBFB;
                flex: 1;
                padding: 3em;

                .progress-data {
                    border-radius: 1rem;
                    background-color: #fff;
                    padding: 2.5em;


                    .dates-info {
                        overflow: auto;
                        max-width: 100%;

                        .days {
                            span {
                                display: inline-block;
                                text-align: center;
                                width: 4rem;
                            }
                        }

                        .date-circles {
                            padding: 1em 0em;
                            position: relative;

                            .circle {
                                height: 3rem;
                                width: 3rem;
                                border-radius: 50%;
                                background-color: #fff;
                            }

                            .back-circle {
                                position: absolute;
                                height: 4rem;
                                width: 4rem;
                                border-radius: 50%;
                                background-color: var(--primaryColor);
                                box-shadow: 0px .2rem .4rem var(--boxShadow);
                                margin-top: 1.5em;
                                margin-right: 3.4em;
                                position: relative;
                                background: transparent;
                            }
                        }
                    }

                    .progress-container {
                        margin-top: 3.8em;

                        .prgress-slider {
                            margin-top: 1.5em;
                            height: 3rem;
                            border-radius: 1.5rem;
                            box-shadow: 0px .3rem .6rem var(--boxShadow);
                            background: #E8EEF2;
                            position: relative;

                            i {
                                font-size: 1.5rem;
                                color: var(--primaryColor);
                                position: absolute;
                                right: 0.5rem;
                                top: 0.5rem;
                            }

                            .inner-slider {
                                position: absolute;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                background-color: #FFF7F5;
                                border-radius: 1.5rem;
                                height: 3rem;
                                width: 37%;
                            }

                            .trophy-container,
                            .trophy-container-no-hover {
                                position: absolute;
                                right: 0px;
                                top: 0;
                                bottom: 0;
                                height: 3rem;
                                min-width: 34px;
                                max-width: 3rem;
                                box-shadow: 0px .3rem .6rem var(--boxShadow);
                                border-radius: 50%;
                                transition: all 0.5s ease-in-out;
                                background: #fff;

                                i {
                                    font-size: 1.6rem;
                                    color: #8F8F8F;
                                }

                                .title {
                                    position: absolute;
                                    left: 1rem;
                                    visibility: hidden;
                                    opacity: 0;
                                    width: 5.4rem;
                                    transition: visibility 0s,
                                        opacity 0.5s linear;
                                }
                            }

                            .trophy-container:hover {
                                transition: all 0.5s ease-in-out;
                                min-width: 9rem;
                                border-radius: 1.5rem;
                                z-index: 1;

                                i {
                                    font-size: 1.6rem;
                                    color: #8F8F8F;
                                }

                                .title {
                                    display: inline-block;
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .streak-details {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // height: calc(100vh - 7.2rem);

        .streak-detail-card {
            margin-top: 1.4em;
            display: flex;
            flex-direction: row;
            width: fit-content;

            .day-info {
                display: flex;
                justify-content: center;
                align-items: center;

                .day {
                    height: 4rem;
                    width: 4rem;
                    border-radius: 50%;
                    border: .1rem solid var(--lightColor);
                    margin-right: 0.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .day::after {
                    content: "";
                    position: relative;
                    display: block;
                    height: 3.8rem;
                    width: 0.5rem;
                    border-radius: .4rem;
                    top: 3.8rem;
                    left: -1.8rem;
                    background-color: var(--lightColor);
                }
            }

            .streak-info {
                padding: 1em;

                p {
                    font-size: 1.4rem;
                }

                .status-block {
                    width: fit-content;
                    padding: 0.1em 1.5em;
                    line-height: 1.3rem;
                    border-radius: .4rem;
                    background: var(--superLight);
                    margin-top: 0.5em;

                    span {
                        font-size: 1.4rem;
                    }
                }
            }

            .description-block {
                display: flex;
                align-items: flex-end;
            }

            .ml-10 {
                margin-left: 1em;
            }
        }
    }
}

//MEDIA QUERIES
@media only screen and (max-width: 1340px) {
    .streak {
        height: calc(100vh - (var(--navigationSmallHeight)));
        overflow: auto;

        .streak-details-container {
            flex-direction: column-reverse;

            // margin-top: calc(var(--headerHeight) * 2 + (3rem * 3));
            .right-container,
            .left-container {
                width: 100%;
            }

            .right-container {
                .streak-detail-container {
                    margin-bottom: 0;
                }

                .performance-container {
                    margin-top: 3em;
                }
            }

            .left-container {
                margin-top: 3em;
            }
        }
    }
}


@media only screen and (max-width: 860px) {
    .streak {
        .streak-details-container {
            height: calc(100vh - (33rem));

            .left-container {
                margin-right: 0em;
            }
        }
    }
}