.dashboard {
  overflow: auto;
}

.dashboard-inner-container {
  height: calc(100vh - (60px + 50px + 50px));
  .left-container {
    margin-right: 30px;
    margin-top: 30px;
    flex: 2;

    .task-container {
      background-color: #FFF7F5;
      border-radius: 20px;
      padding: 30px;
      min-height: calc((100vh - (60px + 50px + 50px + 30px + 60px)) / 2);

      .summary {
        flex: 1;
        align-items: center;

        h2 {
          font-family: JosefinSansRegular;
        }

        h4 {
          margin-top: 12px;
          text-align: center;
        }

        .add-btn {
          margin-top: 34px;
          width: 140px;
        }
      }

      .streaks {
        flex: auto;
        margin-left: 25px;
        overflow-x: scroll;
        min-height: 300px;

        .streak-card {
          min-width: 210px;
          min-height: 250px;
          max-height: 250px;
          background-color: #fff;
          height: 80%;
          border-radius: 25px;
          margin-right: 20px;
          position: relative;
          margin-top: 25px;
          align-items: center;
          justify-content: center;
          flex: 1;
          cursor: pointer;

          .card-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            background-color: #F35B7F;
            left: calc(50% - 20px);
            top: -20px;

            i {
              color: #fff;
            }
          }

          h4 {
            font-family: RobotoBold;

          }

          h6 {
            font-size: 12px;
            color: var(--greyText);
            font-family: RobotoBold;
          }

          h1 {
            font-size: 36px;
            margin-top: 25px;
            font-family: JosefinSansRegular;
            color: #F35B7F;
            transition: font 0.1s linear
          }

          span {
            font-family: RobotoMedium;
            font-size: 10px;
            margin-top: 5px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s,
              opacity 0.5s linear;
          }

          .go-btn {
            visibility: hidden;
            opacity: 0;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 30px;
            border-radius: 9px;
            background-color: #F35B7F;
            margin-top: 9px;
            transition: visibility 0s,
              opacity 0.5s linear;

            i {
              color: #fff;
              cursor: pointer;
            }
          }
        }

        .streak-card:hover {
          h1 {
            font-size: 24px;
          }

          span {
            display: inline-block;
            visibility: visible;
            opacity: 1;
          }

          .go-btn {
            visibility: visible;
            opacity: 1;
          }
        }
      }

    }

    .data-container {
      height: 50%;
      background-color: #FFFAEF;
      border-radius: 20px;
      margin-top: 30px;
      padding: 30px;

      .header-data {
        h2 {
          font-family: JosefinSansRegular;
        }
      }

      .progress-container {
        flex: auto;
        overflow-x: scroll;
        min-height: 300px;

        .progress-card {
          flex: 1;
          background-color: #fff;
          border-radius: 25px;
          margin-right: 20px;
          margin-top: 25px;
          padding: 15px;
          min-width: 205px;
          min-height: 250px;

          .title-container {
            align-items: center;

            .title-icon {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              margin-right: 5px;

              i {
                font-size: 22px;
              }
            }

            h3 {
              align-self: center;
              font-family: JosefinSansRegular;
              font-size: 30px;
              margin-top: 25px;
            }

            .title-icon-succ {
              background-color: #FFDDD5;

              i {
                color: var(--primaryColor);
              }
            }

            .title-icon-reward {
              background-color: #FFF8E8;

              i {
                color: #FFCB47;
              }
            }

            .title-icon-unsucc {
              background-color: #E2EBFF;

              i {
                color: #235DDF;
              }
            }
          }


          .progress-bar {
            margin-top: 28px;

            .bar {
              position: relative;
              height: 6px;
              width: 100%;
              border-radius: 3px;
              background-color: #E8EEF2;
              margin-right: 10px;
              align-self: center;
            }

            .bar-complete {
              position: absolute;
              left: 0;
              height: 6px;
              width: 50%;
              border-radius: 3px;
            }

            .bar-comp-succ {
              background: var(--primaryColor);
            }

            .bar-comp-reward {
              background: #FFCB47;
            }

            .bar-comp-unsucc {
              background: #235DDF;
            }

            .perc {
              color: var(--primaryColor);
            }

            .prog-succ {
              color: var(--primaryColor);
            }

            .prog-reward {
              color: #FFCB47;
            }

            .prog-unsucc {
              color: #235DDF;
            }

          }

          .count-container {
            display: flex;
            height: 41px;
            margin-top: 30px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .count-container-succ {
            background-color: #FFDDD5;

            h4 {
              color: var(--primaryColor);
            }
          }

          .count-container-reward {
            background-color: #FFF8E8;

            h4 {
              color: #FFCB47;
            }
          }

          .count-container-unsucc {
            background-color: #E2EBFF;

            h4 {
              color: #235DDF;
            }
          }
        }
      }
    }
  }

  .right-container {
    margin-top: 30px;
    background-color: #FBFBFB;
    border-radius: 20px;
    min-width: 275px;
    padding: 30px;
    

    .right-container-title {
      font-family: JosefinSansRegular;
      color: var(--primaryColor);
      font-size: 18px;
    }

    .date-data {
      margin-top: 20px;
      max-height: calc(100vh - (60px + 50px + 50px + 80px + 80px));
      overflow: auto;

      .date-content {
        font-family: RobotoBold;
        font-size: 12px;
      }

      .info-container {
        margin-top: 20px;
        display: flex;

        .time {
          font-family: JosefinSansRegular;
          font-size: 18px;
          min-width: 80px;
        }

        .hr-line {
          height: 36px;
          width: 4px;
          border-radius: 2px;
          background-color: #9ACBCF;
          margin-left: 10px;
        }

        .action-info {
          margin-left: 10px;

          .name {
            color: #8F8F8F;
            font-size: 12px;
          }

          .action {
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }

    .see-all {
      font-size: 12px;
      color: var(--primaryColor);
      text-align: center;
      margin-right: 10px;
    }

    .see-all-btn {
      width: 24px;
      height: 16px;
      border-radius: 8px;
      background-color: var(--primaryColor);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s,
        opacity 0.5s linear;

      i {
        font-size: 12px;
        color: #fff
      }

    }

    .see-all-container:hover
    {
      cursor: pointer;
      .see-all-btn
      {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}


//MEDIA QUERIES
@media only screen and (max-width: 1800px) {

  /* Styles */
  .dashboard-inner-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1560px) {

  /* Styles */
  .dashboard
  {
    height: calc(100vh - (var(--navigationSmallHeight) + 50px));
  }


  .dashboard-inner-container {
    .left-container {
      margin-right: 0;
      .task-container {
        flex-direction: column;
      }
    }


  }
}