.navigation {
  position: fixed;
  top: var(--navigationAroundSpace);
  bottom: var(--navigationAroundSpace);
  left: var(--navigationAroundSpace);
  width: var(--navigationWidth);
  background-color: var(--primaryColor);
  border-radius: 30px;

  display: flex;
  flex-direction: column;
}

.brand-name-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  h1 {
    display: inline-block;
    color: white;
    letter-spacing: 0.3rem;
  }

  h1:not(:first-child) {
    color: var(--secondaryColor)
  }
}

.navigation-container {
  display: flex;
  flex: 8;

  a
  {
    color: white;
    margin-top: 3px;
  }

  li
  {
    padding: 1rem 0;
    margin: 1rem 0;
    padding-left: 2rem;
    position: relative;
  }

  .active
  {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0 , -50%);
    width: 0;
    border: 10px solid yellow;
    border-radius: 0 7px 7px 0;
    border-right: 0;
    background-color: yellow;
  }

}


.developer-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid white;

  span {
    max-width: 14ch;
    color: white;
    line-height: 1.5rem;
  }
}