.modal-container {
    .modal {
        position: absolute;
        min-height: 180px;
        min-width: 500px;
        border-radius: 30px;
        background: white;
        z-index: 1000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;

        .header-part {
            border-bottom: 1px solid #E8EEF2;

            .header-content-part {
                display: flex;
                justify-content: space-between;
                flex: 1;
                padding: 30px 40px 20px 40px;

                h2 {
                    color: var(--primaryColor);
                    margin-right: 10px;
                }

                .streak-icon {
                    font-size: 24px;
                    color: var(--primaryColor);
                }

                .close-icon {
                    margin-top: 4px;
                    cursor: pointer;
                }
            }
        }

        .content-part {
            flex: 12;
            padding: 30px 40px 30px 40px;
            text-align: center;

            .element {
                margin-bottom: 10px;
                font-size: 20px;
            }

            .input-container .input-element {
                background-color: #F6F8F9;
                border-radius: 10px;
                height: 60px;
                border: none;
            }

            .input-container .input-element:hover {
                background-color: #fff;
            }

            .icon-container {
                color: var(--primaryColor);
                bottom: 18px;
            }

            .textArea-input-container .textArea-input-element {
                background-color: #F6F8F9;
                border-radius: 10px;
                border: none;
            }

            .textArea-input-container .textArea-input-element:hover {
                background-color: #fff;
            }

        }

        .buttons-part {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            padding: 0 40px 30px 40px;
            align-items: center;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

            .button-container:not(:last-child) {
                margin-right: 10px;
            }

            .primary-btn,
            .secondary-btn {
                height: 60px;
                font-size: 16px;
            }

            .danger-btn
            {
                border: 1px solid var(--dangerColor);
                color: var(--dangerColor);
            }
        }


    }

    .wrapper {
        position: absolute;
        left: 0;
        top: 0;
        background: #212121;
        opacity: 0.3;
        height: 100%;
        width: 100%;
        z-index: 999;
    }

    .react-calendar-container {
        position: absolute;
        z-index: 1;
        top: 50px;

        .react-calendar {
            width: 475px;
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid #E8EEF2;
            border-radius: 6px;
            font-family: RobotoRegular;
            z-index: 1;
            background-color: #fff;
            top: 50px;

            .react-calendar__tile--now {
                background: var(--primaryColor);
                color: #fff;

            }

            .react-calendar__tile--active {
                background: #FFDDD4;
                color: var(--globaBlack);
            }

            .react-calendar__tile:enabled:hover,
            .react-calendar__tile:enabled:focus {
                background: #FFDDD4;
                color: var(--globaBlack);
            }

        }

        .react-calendar--selectRange .react-calendar__tile--hover {
            background: #FFDDD4 !important;
            color: var(--globaBlack);
        }
    }

}