.header {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: var(--headerHeight);

    .small-screen-header
    {
        display: none;
    }

    .header-nav-container {
        i {
            font-size: 15px;
            color: var(--primaryColor);
            cursor: pointer;
            margin-right: 10px;
        }

        h5 {
            font-size: 14px;
            font-family: RobotoMedium;
            color: #8F8F8F;
            cursor: pointer;
        }
    }

    .header-text-container {
        display: flex;
        flex-direction: column;

        .heading {
            font-family: JosefinSansRegular;
        }

        .date {
            font-family: RobotoMedium;
            font-size: 14px;
            color: var(--greyText);
        }
    }

    .list-container {
        display: none;
        position: relative;

        .menu-list {
            height: 214px;
            width: 210px;
            border-radius: 20px;
            box-shadow: 0px 3px 6px var(--boxShadow);
            position: absolute;
            top: 40px;
            right: 0;
            background: #FFFFFF;
            padding: 20px;

            li {
                margin-bottom: 15px;
                font-family: RobotoMedium;
                font-size: 14px;
            }

            .heart-icon {
                font-size: 13px;
                color: var(--primaryColor);
            }

            .profile {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                box-shadow: 0px 3px 6px var(--boxShadow);
                background: transparent;
                background-size: contain;
            }
        }
    }



    .notification-dropdown-container {
        width: 210px;
        position: absolute;
        right: 30px;
        top: 50px;
        bottom: 0;
        box-shadow: 0px 3px 6px var(--boxShadow);
        border-radius: 6px;
        z-index: 1;

        li {
            // height: 40px;
            padding: 15px 15px 0 15px;
            display: flex;
            max-width: 180px;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .pointer {
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: var(--primaryColor);
            margin-top: 20px;
        }

        li:hover {
            // background-color: #FFEBE6;
        }
    }

}


//MEDIA QUERIES
@media only screen and (max-width: 820px) {

    .header {
        height: calc(var(--headerHeight) + var(--headerHeight) + 30px);
        flex-direction: column;
        .small-screen-header
        {
            display: flex;
        }

        .header-btn-container {
            display: none;
        }

        .header-text-container {
            // margin-top: 100px;
        }

        .list-container {
            display: flex;
        }
    }

}