.header
{
    justify-content: space-between;
    display: flex;
    padding-top: calc(var(--navigationAroundSpace) + 1.2rem);

    .header-text-container
    {
        display: flex;
    }

    .logout-btn
    {
        background: #d7443e !important;
    }
}