
.icon-check-circle:before { content: '\e800'; } /* '' */
.icon-email:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-google:before { content: '\e803'; } /* '' */
.icon-person:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-instagram:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-linkedin:before { content: '\e808'; } /* '' */
.icon-language:before { content: '\e809'; } /* '' */
