/*FONTS*/
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/Montserrat-Light.ttf");
}
/*FONTS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --navigationWidth: 18rem;
  --navigationAroundSpace: 1.5rem;
  --primaryColor: #050038;
  --secondaryColor: #FAFF00;
  --lightColor: #C4C4C4;
  --superLight: #DFDADA;
  --primaryBtnColor: #18A0FB;
  --secondaryBtnColor: #FFFFFF;
  --modalFooter: #FFDCDC;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
a,
li {
  font-family: montserrat-regular;
}
ol {
  list-style: none;
  width: 100%;
  padding: 0;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
