.search-container
{
    input
    {
        border: 0;
        border-radius: 3px;
        background-color: white;
        box-shadow: 3px 5px 8px 1px #ccc;
        height: 2rem;
        min-width: 12rem;
        outline: none;
        padding: 0 5px;
    }
}