.landing-page {
  .landing-page-header {
    padding-top: 30px;
    justify-content: space-between;

    .main-navigation {
      display: flex;
      align-items: flex-end;
      margin-left: 20px;
      flex: auto;

      li {
        cursor: pointer;
        margin-left: 30px;
      }

      .list-active::after {
        content: "";
        height: 2px;
        background: #212121;
        display: block;
        transition: width 0.3s ease-in-out;
        margin: 5px auto 0 auto;
      }

      li::after {
        width: 25px;
      }
    }

    .buttons-container {
      display: flex;
      align-self: flex-end;

    }

    .btn-list-container {
      display: none;
      position: relative;

      .listing {
        height: 214px;
        width: 200px;
        border-radius: 20px;
        box-shadow: 0px 3px 6px var(--boxShadow);
        position: absolute;
        top: 50px;
        right: 0;
        background: #FFFFFF;
        padding: 20px;

        li {
          margin-bottom: 15px;
          font-family: RobotoMedium;
          font-size: 14px;
        }

        .heart-icon {
          font-size: 13px;
          color: var(--primaryColor);
        }
      }
    }


  }

  .hero-section {
    height: auto;
    padding-top: 145px;

    .buttons {
      margin-top: 50px;
    }

    .hero-container {
      max-width: 557px;
    }

    .right-section {
      display: flex;
      flex: 1.5;
      justify-content: flex-end;
    }
  }

  .features-section {
    padding-top: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 1060px;
    // margin-top: 180px;

    .section-container {
      height: inherit;
      display: flex;
      // align-items: center;
      margin-top: 40px;
    }

    .left-section {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding-top: 120px;
      padding-left: 150px;

      .top-row,
      .bottom-row {
        display: flex;
      }


      .feature-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 200px;
        width: 200px;
        border-radius: 25px;
        background-color: #ffffff;
        margin: 20px;
        padding: 10px;
        box-shadow: 0px 3px 6px var(--boxShadow);

        p {
          text-align: center;
          margin-top: 5px;
        }
      }
    }

    .right-section {
      display: flex;
      flex: 1;
      max-width: 557px;
      flex-direction: column;
      margin-top: 145px;
      // justify-content: center;
    }
  }

  .guide-section {
    padding-top: 50px;
    height: 1062px;
    display: flex;
    flex-direction: column;

    .left-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      max-width: 557px;
    }

    .right-section {
      display: flex;
      flex: 1.5;
      justify-content: flex-end;
    }
  }

  .pricing-section {
    height: 1061px !important;
    padding-top: 50px;

    .pack-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 100px;

      .price-box {
        height: 800px;
        min-width: 350px;
        border-radius: 20px;
        box-shadow: 0px 3px 6px var(--boxShadow);
        flex: 1;
      }

      .free-pricing-container {
        margin-right: 20px;
      }

      .price-heading-box {
        height: 101px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 3px 6px var(--boxShadow);
        padding: 25px;

        .icon-container {
          height: 50px;
          width: 50px;
        }

        .price-container {
          min-width: 200px;
        }
      }


      .free-box {
        background-color: #FFE5A2;
      }

      .prime-box {
        background-color: #8BE5C1;
      }

      .plan-info {
        padding: 0 20px;
        justify-content: space-between;
      }

      .plan-btn-container {
        width: 160px;
        height: 50px;
        background: #FFE5A2;
        border-radius: 10px;
        padding: 20px;
      }

      .prime-btn {
        background: #8BE5C1;
      }
    }
  }

  .contact-section {
    height: 500px;
    padding-top: 150px;

    .container {
      margin-top: 60px;
    }


    .container {
      display: flex;

      .left-section {
        flex: 1;

        p {
          width: 250px;
        }

        .socials {
          display: flex;

          .contact-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            background-color: #E8EEF2;
            border-radius: 20px;
            cursor: pointer;
          }

          .contact-icon:hover {
            background: transparent linear-gradient(90deg, #FFCB47B3 0%, #F96E46B3 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #F96E4629;
            color: #ffffff;
          }
        }

      }

      .middle-section {
        display: flex;
        flex: 2;
        justify-content: center;
        align-items: center;
      }

      .right-section {
        flex: 1;

        .write-ur-text {
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: left;
          font: normal normal normal 21px/25px Josefin Sans;
          letter-spacing: 0px;
        }

        .send-btn {
          margin-right: 0;
          width: 100px;
          height: 40px;
        }
      }
    }
  }

  .footer-container {
    .small-screen-footer-text {
      display: none;
    }
  }

  .footer {
    height: 60px;
    width: 840px;
    background: transparent linear-gradient(90deg, #F96E46 0%, #FFCB47 100%) 0% 0% no-repeat padding-box;
    border-radius: 31px;
    opacity: 0.8;
    padding: 18px 40px 18px 40px;
    margin-bottom: 50px;

    .footer-navigation {
      display: flex;
      flex: 1;

      li:not(:first-of-type) {
        margin-left: 30px;
      }

    }
  }

  //COMMON LESS
  .padding-global {
    padding-left: 100px;
    padding-right: 100px;
  }

  .feature-heading,
  .guide-heading,
  .price-heading {
    font-size: 60px;
    font-family: RobotoBold;
    text-align: center;
  }

  .global-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-background {
    background-image: url('./img/Section1.png');
    height: 926px;
  }

  .feature-background {
    background-image: url('./img/Section2.png');
  }

  .guide-background {
    background-image: url('./img/Section3.png');
  }

  .price-background {
    background-image: url('./img/Section4.png');
    height: 926px;
  }

  .contact-background {
    // background-image: url('./img/Section4.png');
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .h1-50,
  .h1-40 {
    font-size: 50px;
    font-family: RobotoBold;
  }

  .p-18 {
    font-size: 18px;
    font-family: RobotoRegular;
    margin-top: 20px;
  }

  .h1-40 {
    font-size: 40px;
  }


  .header-btn {
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    transition: all 0.5s;
  }

  .landing-login-btn {
    font-family: RobotoBold;
    background: white;
    width: 95px;
    color: var(--globalBlack);
    border: 1px solid var(--primaryColor);
    margin-right: 30px;
    transition: all 0.5s;
  }

  .header-btn:hover {
    box-shadow: 0 3px 3px #00000029;
    color: var(--primaryColor);
  }

  .landing-get-started {
    width: 142px;
  }

  .landing-get-started:hover {
    background-color: var(--primaryColor);
    color: #fff;
  }
}

//MEDIA QUERIES
@media only screen and (max-width: 1420px) {
  .landing-page {
    .hero-section {
      flex-direction: column;
      align-items: center;
      padding-top: 75px;

      .hero-container {
        max-width: 100%;
      }

      .hero-image {
        margin-top: 75px;
      }
    }

    .features-section {
      margin-top: 0;
      padding-top: 50px;

      .section-container {
        flex-direction: column;

        .left-section {
          justify-content: center;
          align-items: center;
          padding-left: 0;
          padding-top: 45px;
        }

        .right-section {
          max-width: 100%;
        }
      }
    }

    .guide-section {
      padding-top: 100px;

      .guide-container {
        flex-direction: column;

        .left-section {
          max-width: 100%;
        }

        .right-section {
          justify-content: center;
        }
      }
    }

    .pricing-section {
      padding-top: 100px;
    }

  }
}

//MEDIA QUERIES
@media only screen and (max-width: 1024px) {

  /* Styles */
  .landing-page {
    overflow: hidden;

    .padding-global {
      padding-left: 30px;
      padding-right: 30px;
    }

    .features-section {
      padding-top: 150px;
    }

    .landing-page-header {

      .main-navigation,
      .buttons-container {
        display: none;
      }

      .btn-list-container {
        display: flex;
      }
    }

    .pricing-section {
      padding-top: 50px;
    }

  }
}

@media only screen and (max-width : 800px) {
  .landing-page {
    .pricing-section {
      height: auto !important;

      .pack-container {
        flex-wrap: wrap;

        .prime-pricing-container {
          margin-top: 50px;
        }

        .free-pricing-container {
          margin-right: 0px;
        }

      }
    }

  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 450px) {
  .landing-page {
    .padding-global {
      padding-left: 30px;
      padding-right: 30px;
    }

    .hero-section {
      padding-top: 60px;
      height: 660px;

      .hero-image {
        width: 100%;
        margin-top: 50px;
      }
    }


    .features-section {
      padding-top: 50px;
      height: auto;

      .section-container {
        margin-top: 40px;
        flex-direction: column;
      }

      .left-section {
        flex-direction: column;
        padding-top: 0px;
        padding-left: 0;
        align-items: center;

        .top-row,
        .bottom-row {
          flex-direction: column;
        }
      }

      .right-section {
        margin-top: 45px;
        // justify-content: center;

        h1 {
          text-align: center;
        }

        p {
          text-align: center;
        }

        .buttons {
          .button-container {
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .guide-section {
      height: 600px;
      display: flex;
      flex-direction: column;
    }

    .contact-section {
      height: auto;
      padding-top: 200px;

      .container {
        flex-direction: column;

        .left-section {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            width: 100%;
            text-align: center;
          }
        }

        .right-section {
          margin-top: 50px;

          .write-ur-text {
            text-align: center;
          }

          .button-container {
            justify-content: center;
          }
        }
      }
    }

    .footer-container {
      .footer {
        display: none;
      }

      .small-screen-footer-text {
        display: flex;
        margin-bottom: 20px;
      }

    }

    .pricing-section {
      padding-top: 250px;
    }

  }
}