.landing-page {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;

  .landing-page-header {
    .main-navigation {
      display: flex;
      align-items: flex-end;
      margin-left: 20px;
      flex: auto;

      li {
        cursor: pointer;
        margin-left: 30px;
      }

      .list-active::after {
        content: "";
        height: 2px;
        background: #212121;
        display: block;
        transition: width 0.3s ease-in-out;
        margin: 5px auto 0 auto;
      }

      li::after {
        width: 25px;
      }
    }

    .buttons-container {
      // align-self: flex-end;
      display: flex;
      align-self: flex-end;

      .header-btn {
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
        transition: all 0.5s;
      }

      .landing-login-btn {
        font-family: RobotoBold;
        background: white;
        width: 95px;
        color: var(--primaryColor);
        border: 1px solid var(--primaryColor);
        margin-right: 30px;
        transition: all 0.5s;
      }

      .header-btn:hover {
        box-shadow: 0 3px 3px #00000029;
        color: var(--primaryColor);
      }

      .landing-get-started {
        width: 142px;
      }

      .landing-get-started:hover
      {
        color: #ffffff;
      }
    }
  }
}