.landing-page {
  .landing-page-header {
    padding-top: 3em;
    justify-content: space-between;

    .main-navigation {
      display: flex;
      align-items: flex-end;
      margin-left: 2em;
      flex: auto;

      li {
        cursor: pointer;
        margin-left: 3em;
      }

      .list-active::after {
        content: "";
        height: .2rem;
        background: #212121;
        display: block;
        transition: width 0.3s ease-in-out;
        margin: 0.5em auto 0 auto;
      }

      li::after {
        width: 2.5rem;
      }
    }

    .buttons-container {
      display: flex;
      align-self: flex-end;

    }

    .btn-list-container {
      display: none;
      position: relative;

      .listing {
        min-height: 21.4rem;
        width: 20rem;
        border-radius: 2rem;
        box-shadow: 0rem .3rem .6rem var(--boxShadow);
        position: absolute;
        top: 5rem;
        right: 0;
        background: #FFFFFF;
        padding: 2em 0em 2em 2em;

        li {
          margin-bottom: 1.5em;
          font-family: RobotoMedium;
          font-size: 1.4rem;
        }

        .heart-icon {
          font-size: 1.3rem;
          color: var(--primaryColor);
        }
      }
    }
  }

  .hero-section {
    height: auto;
    padding-top: 10%;

    .hero-image
    {
     width: 70%;
    }

    .buttons {
      margin-top: 5em;
    }

    .hero-container {
      max-width: 55.7rem;
    }

    .right-section {
      display: flex;
      flex: 1.5;
      justify-content: flex-end;
    }
  }

  .features-section {
    margin-top: 10%;
    height: auto;
    display: flex;
    flex-direction: column;

    .section-container {
      height: inherit;
      display: flex;
      margin-top: 4em;
    }

    .left-section {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-top: 10%;
      padding-left: 15em;

      .top-row,
      .bottom-row {
        display: flex;
      }


      .feature-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 20rem;
        width: 20rem;
        border-radius: 2.5rem;
        background-color: #ffffff;
        margin: 2em;
        padding: 1em;
        box-shadow: 0px .3rem .6rem var(--boxShadow);

        h1
        {
          font-size: 2rem;
        }

        p {
          text-align: center;
          margin-top: 0.5em;
        }
      }
    }

    .right-section {
      display: flex;
      flex: 1;
      max-width: 55.7rem;
      flex-direction: column;
      margin-top: 10%;
      // justify-content: center;
    }
  }

  .guide-section {
    padding-top: 10%;
    height: auto;
    display: flex;
    flex-direction: column;

    .left-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      max-width: 55.7rem;
    }

    .right-section {
      display: flex;
      flex: 1.5;
      justify-content: flex-end;
    }
  }

  .pricing-section {
    height: auto !important;

    .pack-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10em;

      .price-box {
        height: 80rem;
        min-width: 35rem;
        border-radius: 2rem;
        box-shadow: 0px .3rem .6rem var(--boxShadow);
        flex: 1;
      }

      .free-pricing-container {
        margin-right: 2em;
      }

      .price-heading-box {
        height: 10.1rem;
        width: 100%;
        border-radius: 2rem;
        box-shadow: 0px .3rem .6rem var(--boxShadow);
        padding: 2.5em;

        .icon-container {
          height: 5rem;
          width: 5rem;
        }

        .price-container {
          min-width: 20rem;
        }
      }


      .free-box {
        background-color: #FFE5A2;
      }

      .prime-box {
        background-color: #8BE5C1;
      }

      .plan-info {
        padding: 0 2em;
        justify-content: space-between;
      }

      .plan-btn-container {
        width: 16rem;
        height: 5rem;
        background: #FFE5A2;
        border-radius: 1rem;
        padding: 2em;
      }

      .prime-btn {
        background: #8BE5C1;
      }
    }
  }

  .contact-section {
    height: auto;
    padding-top: 10%;

    .container {
      margin-top: 6em;
    }


    .container {
      display: flex;

      .left-section {
        flex: 1;

        p {
          width: 25rem;
        }

        .socials {
          display: flex;

          .contact-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4rem;
            width: 4rem;
            background-color: #E8EEF2;
            border-radius: 2rem;
            cursor: pointer;
          }

          .contact-icon:hover {
            background: transparent linear-gradient(90deg, #FFCB47B3 0%, #F96E46B3 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px .3rem .6rem #F96E4629;
            color: #ffffff;
          }
        }

      }

      .middle-section {
        display: flex;
        flex: 2;
        justify-content: center;
        align-items: center;
      }

      .right-section {
        flex: 1;

        .write-ur-text {
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: left;
          font: normal normal normal 21px/2.5rem Josefin Sans;
          letter-spacing: 0px;
        }

        .send-btn {
          margin-right: 0;
          width: 10rem;
          height: 4rem;
        }
      }
    }
  }

  .footer-container {
    .small-screen-footer-text {
      display: none;
    }
  }

  .footer {
    height: 6rem;
    width: 84rem;
    background: transparent linear-gradient(90deg, #F96E46 0%, #FFCB47 100%) 0% 0% no-repeat padding-box;
    border-radius: 31px;
    opacity: 0.8;
    padding: 1.8em 4em 1.8em 4em;
    margin-bottom: 5em;

    .footer-navigation {
      display: flex;
      flex: 1;

      li:not(:first-of-type) {
        margin-left: 3em;
      }

    }
  }

  //COMMON LESS
  .padding-global {
    padding-left: 10em;
    padding-right: 10em;
  }

  .feature-heading,
  .guide-heading,
  .price-heading {
    font-size: 6rem;
    font-family: RobotoBold;
    text-align: center;
  }

  .global-background {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-background {
    background-image: url('./img/Section1.png');
    height: auto;
  }

  .feature-background {
    background-image: url('./img/Section2.png');
  }

  .guide-background {
    background-image: url('./img/Section3.png');
  }

  .price-background {
    background-image: url('./img/Section4.png');
    height: auto;
  }

  .contact-background {
    background-repeat: no-repeat;
    background-position: center;
  }

  .h1-50,
  .h1-40 {
    font-size: 5rem;
    font-family: RobotoBold;
  }

  .p-18 {
    font-size: 1.8rem;
    font-family: RobotoRegular;
    margin-top: 2em;
  }

  .h1-40 {
    font-size: 4rem;
  }


  .header-btn {
    height: 5rem;
    border-radius: 2.5rem;
    font-size: 1.8rem;
    transition: all 0.5s;
  }

  .landing-login-btn {
    font-family: RobotoBold;
    background: white;
    width: 11.5rem;
    color: var(--globalBlack);
    border: .1rem solid var(--primaryColor);
    margin-right: 1em;
    transition: all 0.5s;
  }

  .header-btn:hover {
    box-shadow: 0 .3rem .3rem #00000029;
    color: var(--primaryColor);
  }

  .landing-get-started {
    width: 17.2rem;
  }

  .landing-get-started:hover {
    background-color: var(--primaryColor);
    color: #fff;
  }
}

//MEDIA QUERIES
@media only screen and (max-width: 1420px) {
  .landing-page {
    .hero-section {
      flex-direction: column;
      align-items: center;
      // padding-top: 7.5em;

      .hero-container {
        max-width: 100%;
      }

      .hero-image {
        margin: 7.5em;
      }
    }

    .features-section {
      // margin-top: 10%;
      // padding-top: 10%;

      .section-container {
        flex-direction: column;

        .left-section {
          justify-content: center;
          align-items: center;
          padding-left: 0;
          margin-top: 0%;
        }

        .right-section {
          max-width: 100%;
        }
      }
    }

    .guide-section {
      // padding-top: 10em;

      .guide-container {
        flex-direction: column;

        .left-section {
          max-width: 100%;
        }

        .right-section {
          justify-content: center;
        }
      }
    }

    .pricing-section {
      // padding-top: 10em;
    }

  }
}

//MEDIA QUERIES
@media only screen and (max-width: 1024px) {

  /* Styles */
  .landing-page {
    overflow: hidden;

    .padding-global {
      padding-left: 3em;
      padding-right: 3em;
    }

    .features-section {
      // padding-top: 15em;
    }

    .landing-page-header {

      .main-navigation,
      .buttons-container {
        display: none;
      }

      .btn-list-container {
        display: flex;
      }
    }

    .pricing-section {
      // padding-top: 5em;
    }

  }
}

@media only screen and (max-width : 800px) {
  .landing-page {
    .pricing-section {
      height: auto !important;

      .pack-container {
        flex-wrap: wrap;

        .prime-pricing-container {
          margin-top: 5em;
        }

        .free-pricing-container {
          margin-right: 0px;
        }

      }
    }

  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 450px) {
  .landing-page {
    .padding-global {
      padding-left: 3em;
      padding-right: 3em;
    }

    .hero-section {
      // padding-top: 6em;
      height: auto;

      .hero-image {
        width: 100%;
        margin-top: 5em;
      }
    }


    .features-section {
      // padding-top: 5em;
      height: auto;

      .section-container {
        margin-top: 4em;
        flex-direction: column;
      }

      .left-section {
        flex-direction: column;
        padding-top: 0px;
        padding-left: 0;
        align-items: center;

        .top-row,
        .bottom-row {
          flex-direction: column;
        }
      }

      .right-section {
        // margin-top: 4.5em;

        h1 {
          text-align: center;
        }

        p {
          text-align: center;
        }

        .buttons {
          .button-container {
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .guide-section {
      height: auto;
      display: flex;
      flex-direction: column;
    }

    .contact-section {
      height: auto;
      // padding-top: 20em;

      .container {
        flex-direction: column;

        .left-section {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            width: 100%;
            text-align: center;
          }
        }

        .right-section {
          margin-top: 5em;

          .write-ur-text {
            text-align: center;
          }

          .button-container {
            justify-content: center;
          }
        }
      }
    }

    .footer-container {
      .footer {
        display: none;
      }

      .small-screen-footer-text {
        display: flex;
        margin-bottom: 2em;
      }

    }

    .pricing-section {

      // .prime-pricing-container {
      //   padding-right: 2rem;
      // }

      // .free-pricing-container {
      //   padding-right: 2rem;
      // }
    }

  }
}