.input-container {
  .input-element {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--lightColor);
  }

  .input-element:focus {
    outline: none;
    border-bottom: 1px solid var(--lightColor);
  }
}

.textArea-input-container {
  .textArea-input-element,
  .textArea-input-element:focus {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--lightColor);
  }
}

.custom-select {
  position: relative;
  width: max-content;
}
select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
  font-size: 0.8rem;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  background: #4d5061;
  color: white;
  border: 0;
  text-overflow: ellipsis;
  max-width: 50px;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: red;
  height: 100%;
  width: 2rem;
  pointer-events: none;
}
