.input-container .input-element {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--lightColor);
}
.input-container .input-element:focus {
  outline: none;
  border-bottom: 1px solid var(--lightColor);
}
.textArea-input-container .textArea-input-element,
.textArea-input-container .textArea-input-element:focus {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--lightColor);
}
