//FONTS
@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
    url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSansRegular";
  src: local("JosefinSansRegular"),
    url("./fonts/JosefinSans-Regular.ttf") format("truetype");
}




//CORE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navigationWidth: 300px;
  --navigationAroundSpace: 1.5rem;
  --secondaryColor: #FAFF00;
  --lightColor: #C4C4C4;
  --superLight: #DFDADA;
  --primaryBtnColor: #18A0FB;
  --modalFooter: #FFDCDC;

  --globaBlack: #212121;
  --primaryColor: #F96E46;
  --boxShadow: #00000029;
  --greyText: #8F8F8F;
  --pagesPaddingHorizontal: 50px;
  --headerHeight: 60px;
  --navigationSmallHeight : 80px;
  --secondaryBtnColor: #F6F8F9;
  --dangerColor: #D63E3E;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
th,
td,
li {
  font-family: RobotoRegular;
  color: var(--globaBlack);
}

ol {
  list-style: none;
  width: 100%;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

//CORE

//LESS
//MARGINS
.mt-1 {
  margin-top: 1rem;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-10 {
  margin-bottom: 10px;
}

//MARGINS

//FLEXBOX
.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1
}

.flex-auto {
  flex: auto;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-dir-col {
  display: flex;
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-1 {
  flex: 1
}

//FLEXBOX

.h-1 {
  height: 1px;
}

.h-40 {
  height: 40px;
}

.h-60 {
  height: 60px;
}

.br-16
{
  border-radius: 16px !important;
}

.size-14 {
  font-size: 14px;
}

.size-36 {
  font-size: 36px;
}

.size-16-8f {
  font-size: 16px;
  color: var(--greyText);
}

.size-10-8f {
  font-size: 10px;
  color: var(--greyText);
}

.size-30-primary
{
  font-size: 30px;
  color: var(--primaryColor);
}

.ai-b {
  align-items: baseline;
}

.roboto-medium {
  font-family: RobotoMedium;
}

.c-pointer {
  cursor: pointer;
}

.color-primary {
  color: var(--primaryColor)
}

.color-fff {
  color: #fff;
}


.fit-content {
  width: fit-content !important;
}

.pos-relative {
  position: relative;
}

.font-rob-med {
  font-family: RobotoMedium;
}

.font-18 {
  font-size: 18px;
}

.font-rob-bold {
  font-family: RobotoBold;
}

.font-jos {
  font-family: JosefinSansRegular;
}

.font-bold
{
  font-weight: bold;
}

.jos-18-primary {
  font-family: JosefinSansRegular;
  font-size: 18px;
  color: var(--primaryColor);
}

.jos-primary {
  font-family: JosefinSansRegular;
  color: var(--primaryColor);
}

.rob-med-12-primary,
.rob-med-10-primary {
  font-family: RobotoMedium;
  font-size: 12px;
  color: var(--primaryColor);
}

.rob-med-12-black,
.rob-med-10-black,
.rob-med-10-grey
 {
  font-family: RobotoMedium;
  font-size: 12px;
  color: var(--globaBlack);
}

.rob-med-10-primary,
.rob-med-10-black {
  font-size: 10px;
}

.rob-med-10-grey
{
  color: var(--greyText);
  font-size: 10px;
}

.rob-bold-12-black,
.rob-bold-12-primary {
  font-family: RobotoBold;
  font-size: 12px;
  color: var(--globalBlack);
}

.rob-bold-12-primary {
  color: var(--primaryColor);
}

.rob-reg-14-grey,
.rob-reg-14-black {
  font-family: RobotoRegular;
  font-size: 14px;
  color: var(--greyText);
}

.rob-reg-12-black {
  color: var(--globaBlack);
}

.rob-reg-12-grey,
.rob-reg-12-black,
.rob-reg-12-primary {
  font-family: RobotoRegular;
  font-size: 12px;
  color: var(--greyText);
}

.rob-reg-12-primary {
  color: var(--primaryColor)
}

.rob-med-14-grey,
.rob-med-14-black {
  font-family: RobotoMedium;
  font-size: 14px;
  color: var(--greyText);
}

.rob-med-14-black {
  color: var(--globaBlack);
}

.rob-reg-10-black {
  font-family: RobotoRegular;
  font-size: 10px;
  color: var(--globaBlack);
}

.rob-reg-10-grey {
  font-family: RobotoRegular;
  font-size: 10px;
  color: var(--greyText);
}

.o-scroll
{
  overflow: scroll;
}

.color-red {
  color: var(--dangerColor) !important
}

.rob-reg-14-black {
  color: var(--globaBlack)
}

.text-center {
  text-align: center;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.loader-container {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}