//FONTS
@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
    url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSansRegular";
  src: local("JosefinSansRegular"),
    url("./fonts/JosefinSans-Regular.ttf") format("truetype");
}




//CORE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navigationWidth: 18rem;
  --navigationAroundSpace: 1.5rem;
  --primaryColor: #F96E46;
  --secondaryColor: #FAFF00;
  --lightColor: #C4C4C4;
  --superLight: #DFDADA;
  --primaryBtnColor: #18A0FB;
  --secondaryBtnColor: #FFFFFF;
  --modalFooter: #FFDCDC;

  --globaBlack: #212121;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
li {
  font-family: RobotoRegular;
  color : var(--globaBlack);
  cursor: pointer;
}

ol {
  list-style: none;
  width: 100%;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

//CORE

//LESS
.d-flex {
  display: flex;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-0
{
  margin-right: 0 !important;
}

.h-1
{
  height: 1px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-35
{
  margin-top: 35px;
}


.size-16-8f
{
  font-size: 16px;
  color: #8F8F8F;
}

.size-10-8f {
  font-size: 10px;
  color: #8F8F8F;
}

.ai-b {
  align-items: baseline;
}

.roboto-medium
{
  font-family: RobotoMedium;
}

.c-pointer {
  cursor: pointer;
}

.flex-1
{
  flex : 1
}

.color-fff
{
  color: #fff;
}


.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-dir-col {
  flex-direction: column;
}

.justify-end
{
  justify-content: flex-end;
}

.justify-space-between
{
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.loader-container {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}